Orbit-BS5-v2.0.zip
orbit-sketch-v1.0.zip
online-cv-webjeda-com-print.pdf
/Static-Website-Hosting/Static-Website-Hosting-Schema.pptx
Python/Monitoring_website/Monitoring-website-python-schema.pptx
Python/Monitoring_and_Snapshots/Monitoring_and_Snapshots.pptx
Orbit-BS5-v2.0/*
Nextcloud/Nextcloud.pptx
Microservices app on EKS Cluster/K8s-google-boutique-project-Schema.pptx
Jenkins to AWS ECS Springboot Petclinic APP/Jenkins-spring-project-schema.pptx
Containers, Database and Visualization/Database visualisation with ECS .pptx
CI-CD with Jenkins, Ansible, EKS/CI-CD with Jenkins Ansible Kubernetes - schema.pptx
AWS to Azure site to site VPN using BGP/AWS-DigitalOcean-BGP-VPN-Project.pptx
Oleksandr_Otava-DevOps_Cloud_Engineer.pdf